.openShare{
    background: #e03d42;
    color: #fff;
    border: 1px solid #e03d42;
    padding: 0px 15px;
    height: 35px;
    align-content: center;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}
.openShare:hover{
    transform:translateY(-2px);
    box-shadow:0 10px 30px #ff000059;
    background: transparent;
    color: #e03d42;
    border: 1px solid #e03d42;
}
.overlay{
    position: fixed;
    inset:0;
    background:rgb(0 0 0 / 65%);
    backdrop-filter:blur(5px);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:100;
}
.shareBox{
    width:500px;
    max-width:95%;
    background:#fff !important;
    border-radius:16px;
    padding:22px;
    animation:popup .25s ease;
}
@keyframes popup{
    from{
        transform:translateY(40px);
        opacity:0;
    }

    to{
        transform:translateY(0);
        opacity:1;
    }
}
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:15px;
}
.header h2{
    margin:0;
    font-size:22px;
    color: #000 !important;
    font-weight: 900;
}
.close{
    font-size:30px;
    cursor:pointer;
    color:#999;
    font-weight: 900;
}
.close:hover{
    color:#e03d42;
}
.icons{
    display:flex;
    justify-content: space-between;
    overflow-x:auto;
    padding-top: 10px !important;
}
.icons::-webkit-scrollbar{
    display:none;
}
.social{
    text-align:center;
    min-width:70px;
    text-decoration:none;
    color:#000 !important;
    font-size:13px;
    transition:.3s;
    font-weight: 900;
}
.social:hover{
    transform:translateY(-2px);
}
.line{
    height:1px;
    background:#444;
    margin:20px 0;
}
.linkArea{
    display:flex;
    align-items:center;
    gap:10px;
    background:#fff !important;
    border: 2px solid #000 !important;
    border-radius:12px;
    padding:8px;
}
.linkArea input{
    flex:1;
    background:transparent;
    border:none;
    outline:none;
    color:#000 !important;
    padding:10px;
    font-size:14px;
}
.copy{
    background:#ddd !important;
    color: #000 !important;
    border: 1px solid #ddd !important;
    padding:10px 20px;
    border-radius:20px;
    font-weight:bold;
    cursor:pointer;
}
.copy:hover{
    background:#fff !important;
    color: #000 !important;
    border: 1px solid #ddd !important;
}
#toast{
    position:fixed;
    left:50%;
    bottom:30px;
    transform:translateX(-50%) translateY(100px);
    background:#222;
    color:white;
    padding:14px 24px;
    border-radius:8px;
    opacity:0;
    transition:.3s ease;
    z-index:9999;
    box-shadow:0 10px 30px rgba(0,0,0,.4);
}
#toast.show{
    opacity:1;
    transform:translateX(-50%) translateY(0);
}   
@media (max-width: 425px) {
    .shareIcon svg {
        width: 40px !important;
        height: 40px !important;
    }
    .copy{
        padding: 5px 10px !important;
        border-radius: 10px !important;
    }
}