    /* *{
        box-sizing:border-box;
    } */

    /* body{
        margin:0;
        height:100vh;
        background:#0f0f0f;
        font-family:Arial,Helvetica,sans-serif;
        color:white;
        display:flex;
        justify-content:center;
        align-items:center;
    } */

    .openShare{
        background:#ff0000;
        color:white;
        border:none;
        padding:14px 30px;
        border-radius:30px;
        font-size:16px;
        cursor:pointer;
        transition:.3s;
    }

    .openShare:hover{
        transform:translateY(-2px);
        box-shadow:0 10px 30px rgba(255,0,0,.35);
    }

    .overlay{
        position:fixed;
        inset:0;
        background:rgba(37, 11, 11, 0.65);
        backdrop-filter:blur(5px);
        display:none;
        justify-content:center;
        align-items:center;
        z-index:100;
    }

    .shareBox{
        width:500px;
        max-width:95%;
        background:#212121;
        border-radius:16px;
        padding:22px;
        animation:popup .25s ease;
    }

    @keyframes popup{

    from{
        transform:translateY(40px);
        opacity:0;
    }

    to{
        transform:translateY(0);
        opacity:1;
    }

    }

    .header{
        display:flex;
        justify-content:space-between;
        align-items:center;
        margin-bottom:25px;
    }

    .header h2{
        margin:0;
        font-size:22px;
    }

    .close{
        font-size:30px;
        cursor:pointer;
        color:#999;
    }

    .close:hover{
        color:#fff;
    }

    .icons{
        display:flex;
        gap:18px;
        overflow-x:auto;
        padding-bottom:10px;
    }

    .icons::-webkit-scrollbar{
        display:none;
    }

    .social{
        text-align:center;
        min-width:70px;
        text-decoration:none;
        color:#ddd;
        font-size:13px;
        transition:.3s;
    }

    .social:hover{
        transform:translateY(-4px);
    }

    .circle{
        width:60px;
        height:60px;
        border-radius:50%;
        display:flex;
        justify-content:center;
        align-items:center;
        margin:auto;
        margin-bottom:8px;
        font-size:26px;
        font-weight:bold;
        color:white;
    }

    .embed{
        background:#fff;
        color:#333;
    }

    .whatsapp{
        background:#25D366;
    }

    .facebook{
        background:#1877f2;
    }

    .x{
        background:#000;
        border:1px solid #555;
    }

    .telegram{
        background:#229ED9;
    }

    .email{
        background:#d92237;
    }

    .line{
        height:1px;
        background:#444;
        margin:20px 0;
    }

    .linkArea{
        display:flex;
        align-items:center;
        gap:10px;
        background:#181818;
        border:1px solid #444;
        border-radius:12px;
        padding:8px;
    }

    .linkArea input{
        flex:1;
        background:transparent;
        border:none;
        outline:none;
        color:#ddd;
        padding:10px;
        font-size:14px;
    }

    .copy{
        background:#fff;
        border:none;
        padding:10px 20px;
        border-radius:20px;
        font-weight:bold;
        cursor:pointer;
    }

    .copy:hover{
        background:#ddd;
    }

    #toast{
        position:fixed;
        left:50%;
        bottom:30px;
        transform:translateX(-50%) translateY(100px);
        background:#222;
        color:white;
        padding:14px 24px;
        border-radius:8px;
        opacity:0;
        transition:.3s ease;
        z-index:9999;
        box-shadow:0 10px 30px rgba(0,0,0,.4);
    }

    #toast.show{
        opacity:1;
        transform:translateX(-50%) translateY(0);
    }   