.profileScetion {
    display: flex;
    gap: 10px;
}
.profilePic img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
}
.profileUserName {
    color: #fff;
    font-weight: 800;
    margin-right: 8px;
}
.alignContent {
    align-content: center;
}
/* .header-sticky .sticky-bar .sign-btn a {
    border: 0!important;
    color: #e03d42 !important;
}
.header-sticky .sticky-bar .sign-btn i {
    color: #e03d42 !important;
}
.header-sticky .sticky-bar .sign-btn .stickyTextBlack {
    color: #000 !important;
}
.header-sticky .sticky-bar .sign-btn .profileUserName {
    color: #000 !important;
}
.header-sticky .sticky-bar .sign-btn .btn-secondary-sm {
    background-color: #e03d42;
    border: 1px solid transparent;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    border-radius: 8px;
    color: #fff !important;
    display: inline-block;
} */
.wishlistHeaderBtn1, .loginBtn1 {
    background-color: #e03d42;
    border: 1px solid transparent;
    padding: 8px 20px;
    font-size: 12px !important;
    font-weight: 500;
    line-height: 1.3;
    border-radius: 8px;
    color: #fff !important;
    display: inline-block;
    width: 80px;
    height: 40px;
}
.wishlistHeaderBtn1:hover, .loginBtn1:hover {
    background-color: transparent;
    border: 1px solid #e03d42;
    padding: 8px 20px;
    font-size: 12px !important;
    font-weight: 500;
    line-height: 1.3;
    border-radius: 8px;
    color: #e03d42 !important;
    display: inline-block;
    width: 80px;
    height: 40px;
}
.dropdown-item:hover {
    color: #e03d42 !important;
}
.mobileProfile {
    position: relative;
    bottom: 50px !important;
    z-index: 1001;
}
.mobileProfile1 {
    position: relative;
    bottom: 58px !important;
    z-index: 1001;
}

.dropdown-menu {
    z-index: 1002;
}
/* Mobile header right */
.mobile-header-right {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    position: relative;
    top: -15px !important;
}

/* Remove slicknav full width */
.mobile-header-right .mobile_menu,
.mobile-header-right .slicknav_menu {
    width: auto !important;
    background: transparent !important;
    padding: 0 !important;
    margin: 0 !important;
}

/* Hamburger button */
.mobile-header-right .slicknav_btn {
    float: none !important;
    margin: 0 !important;
    background: transparent !important;
    padding: 0 !important;
}

/* Hide MENU text */
.mobile-header-right .slicknav_menutxt {
    display: none;
}
/* stickyBtnDisplay */
.stickyBtnDisplay {
    display: none !important;
}
.header-area-three .mobile_menu .slicknav_menu .slicknav_nav .stickyBtnDisplay{
    display: block !important;
}