.filter-options{
    display:flex;
    justify-content: center; 
    align-items: center; 
    padding:20px 0 20px;
}

.filter-opt-1{
    padding: 16px;
    border: 2px black solid;
    border-right: 0px;
    border-radius: 10px 0 0 10px;
}

.filter-opt-1 select{
    border: none !important;
}

.filter-opt-2 select{
    border: none;
}

.filter-opt-3 .input[type="month"]{
    border: none;
}

.filter-opt-2{
    padding: 16px;
    border: 2px black solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100% !important;
}

.filter-opt-3{
    border: 2px black solid;
    padding: 16px;
    width: 100%;
    border-right: 0px;
}
.filter-opt-3-1{
    border: 2px black solid;
    padding: 0.5rem;
    width: 100%;
    border-right: 0px;
    font-weight: 600;
    color: black;
}
/* .filter-opt-3-1 p span{
    position: sticky;
    right: 13px;
    top: 2px;
} */
.span-middle-align{
    position: relative;
    top: 10px;
    left: 11px;
}
.control{
    padding: 1.61rem !important;
    border: 2px black solid!important;
}
.border-round{
    border: 1px solid black;
    width: 45%;
    position: absolute;
    top: 15px;
    right: 50px;

}
.border-round p{
    margin-bottom: 0px !important;
    text-align: center;
}

.no-space{
    margin-bottom: 12px;
    padding: 0;
}

.select-monthyear{
    width: auto !important;
    padding: 0 !important;
    float: right;
    border: none;
}
.app-search span{
    position: absolute;
    left: 13px;
    top: 23px;
    color: black;
    font-weight: 600;
}
.search{
    background-color: white !important;
    border-radius: 0 10px 10px 0 !important;
    padding-left: 40px !important;
}
.selectdesign{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    background-image: url("../assets/images/select_icon.svg");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    padding: 1rem;
    padding-right: 2rem;
    width: 100%;
}

/* download icon css  */
.icon{
    display: flex;
}
.modal-radius{
    border-radius: 18px !important;
}
.filter{
    margin-top: 0;
    padding: 0px !important;
}
.font{
    font-size: 28px !important;
    padding-top: 16px;
}
.layout-1{
    display: flex;
    justify-content: end;
    margin-top: -22px;
}
.layout-2{
    display: flex;
    justify-content: end;
    margin-top: -18px;
}
.layout-3{
    display: flex;
    justify-content: end;
    margin-top: -40px;
    margin-right: 20px;
}

.p-3{
    padding: 0px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.date-layout{
    margin-left: 2rem !important;
}
.badge{
    width: fit-content;
}
.download-icon{
    margin-top: 10px !important;
}
.status1 {
    margin-left: 0.5rem !important;
}

/* start center pop up modal for pending status  */
.input1{
    padding: 2% 30% 2% 30%;
    border-radius: 10px;
    border: 1px solid black;  
}
.input2{
    border-radius: 10px;
    border: 1px solid black;  
}
.callogo {
    padding-top: 2px !important;
}
/* end center pop up modal for pending status  */

/* .style{
    padding-top: 1.5rem;
    line-height: 8px;
} */

@media (max-width: 1281px){
    .filter-opt-3-1 p{    
        margin-left: -9px !important;
    }
    .date-layout{
        margin-left: 0rem !important;
        display: block !important;
    }
    .date-align{
        display: flex !important;
    }
    .border-round{
        width: 50% !important;
        right: 30px;
    }
    .layout-1{
        display: flex !important;
        justify-content: end !important;
        margin-top: -22px !important;
    }
}
@media (max-width: 1232px){
    .ms-5 {
        margin-left: 1rem!important;
    }
    .date-layout{
        margin-left: 0rem !important;
        display: block !important;
    }
    .date-align{
        display: flex !important;
    }
    .layout-1{
        display: flex !important;
        justify-content: end !important;
        margin-top: -22px !important;
    }
}
@media (max-width: 1159px){
    .filter-opt-3-1 {
        width: 100%;
        height: 56px;
        padding: 5px !important;
    }
    .filter-opt-3-1 p{    
        margin-left: -14px !important;
    }
    .border-round{
        width: 54% !important;  
        right: 10px !important; 
        top: 14px !important;
    }
    .date-layout{
        margin-left: 0rem !important;
        display: block !important;
    }
    .date-align{
        display: flex !important;
    }
    .layout-1{
        display: flex !important;
        justify-content: end !important;
        margin-top: -22px !important;
    }
}
@media (max-width: 1105px){
    .fw-bold{
        display: flex;
    }
    .ms-5 {
        margin-left: 0rem!important;
    }
    .date-layout{
        margin-left: 0rem !important;
        display: block !important;
    }
    .date-align{
        display: flex !important;
    }
    .ms-4{
        margin-left: 0rem !important;
    }
    .border-round{
        width: 75% !important;
        padding-left: 5px;
        position: relative;
        top: -10px !important;
        left: 0px;
    }
    .bx{
        padding-top: 0px; 
        padding-left: 5%;
    }
    .layout-1{
        display: flex !important;
        justify-content: end !important;
        margin-top: -22px !important;
    }
}
@media (min-width: 992px){
    .paystatus{
        margin-top: 20px !important;
    }
}
@media (max-width: 939px){
    .border-round{
        width: 80% !important;
    }
}
/* start pop up modal */

@media (max-width: 992px) and (min-width: 768px){
    .icon{
        font-size: 18px !important;
        margin-bottom: 0 !important;
    }
    .pt-3{
        font-size: 14px !important;
    }
    .layout-1{
        font-size: 10px !important;
        /* margin-top: -16px !important; */
        display: block !important;
        justify-content: end !important;
        padding-top: 20px !important;
        margin-bottom: -16px !important;
    }
    .layout-3 {
        padding-top: 2px;
        padding-left: 0% !important;
        display: flex !important;
    }
    .date-layout1{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        margin-bottom: -17px;
    }
    .app-search {
        padding-left: 0px !important;
    }
}
@media (max-width: 767px) and (min-width: 576px){
    .icon {
        font-size: 23px !important;
        width: auto !important;
    }
    .layout-3 {
        padding-top: 2px;
        margin-left: 5% !important;
        display: flex !important;
    }
    .status1{
        margin-left: 1.2rem !important;
    }
    .status1{
        margin-left:  1.2rem !important;
    }
    .card{
        margin-top: 10px !important;
    }
    .border-round{
        width: 95% !important;
    }
}
@media (max-width: 576px){
    .icon {
        font-size: 23px !important;
        width: fit-content !important;
    }
    .layout-3 {
        padding-top: 2px;
        margin-left: 5% !important;
        display: flex !important;
    }
    /* .fw-bold{
        display: flex !important;
    } */
    .status1 {
        margin-left: 0.5rem !important;
    }
    .card{
        margin-top: 10px !important;
    }
}
/* end pop up modal  */

@media (max-width: 855px) and (min-width: 768px){
    .fw-bold{
        display: flex;
    }
    .ms-5 {
        margin-left: 0rem!important;
    }
    .date-layout{
        margin-left: 0rem !important;
    }
    .ms-4{
        margin-left: 0rem !important;
    }
    .border-round{
        width: 84% !important;
        position: relative;
        top: -10px !important;
        left: 0px;
    }
    .bx {
        padding-top: 2px;
        padding-left: 5% !important;
        display: inline-flex;
    }
    
}
@media (max-width: 767px){
    .fw-bold{
        display: flex;
    }
    .ms-5 {
        margin-left: 0rem!important;
    }
    .date-layout{
        margin-left: 0rem !important;
    }
    .ms-4{
        margin-left: 0rem !important;
    }
    /* .border-round{
        width: 60% !important;
        position: relative;
        top: -10px !important;
        left: 0px;
    } */
    .filter-opt-2{
        padding: 0.985rem;
        border: 2px solid black;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 0px;
        border-top: 0px;
        align-items: center;
        margin-top: -1rem;
    }
    .filter-opt-1{
        padding: 0.985rem;
        border: 2px solid black;
        border-radius: 10px 10px 0px 0px !important;
        text-align: center;

    }
    .filter-opt-3-1 {
        width: 100% !important;
        border: 2px solid black;
        border-top: 0px;
        text-align: center;
    }
    .filter-opt-3{
        width: 100% !important;
        border: 2px solid black;
        border-top: 0px;
        text-align: center;
    }
    .filter-opt-3-1 p{    
        margin-left: -10px !important;
        
    }
    .control{
        margin-left: 0rem !important;
        width: 100% !important;
        border-top: 0px !important;
        border-radius: 0px 0px 10px 10px !important;
    }
    .app-search{
        padding: 0px !important;
        margin-left: 0px !important;
        padding-left: 100px; 
    }
    .app-search span{
        position: absolute;
        left: 38%;
    }
    .search{
        padding-left: 48% !important;
    }
    .fs-5 {
        font-size: 0.8rem ;
        width: 150px;
    }
    /* #cap_text_1{
        display: none !important;
    } */
    #cap_month {
        display: block !important;
    }
    .bx {
        padding-top: 2px;
        padding-left: 0% !important;
        display: block;
    }
    .download-icon1{
        margin-left: 0px !important;
    }
}
@media (max-width: 575px){
    .border-round{
        width: 50% !important;
        position: absolute !important;
        top: 11px !important;
        left: 48% !important;
    }
    .bx {
        padding-top: 2px;
        padding-left: 5% !important;
        display: inline-flex;
    }
    .modal-content{
        width: 100% !important;
    }
    .input1{
        width: 100% !important;
        
    }
    .input2{
        width: 100% !important;

    }
}